**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*state.json
env.conf
.idea*
.history
**/.DS_Store
**/ernesto/*
**/__pycache__/**
**/flask_session/**
**/k8s
run.sh
test.py
